<?xml version='1.0'?>
<root>
    <addresses>
        <address ip="192.168.2.116"/>
        <address ip="192.168.1.5"/>
    </addresses>
    <setting>
        <port val="1698"/>
        <psw val="1"/>
        <autoconn val="1"/>
    </setting>
    <timers>
        <timer status="1110011111100000" datetime="2013.05.09 20:59:00" ip="192.168.1.5" freq="0" delay="2" comment="123"/>
    </timers>
    <devices/>
</root>
